# Bỏ qua thư mục node_modules trong client và server
client/node_modules/
server/node_modules/

# Bỏ qua các tệp log
*.log

# Bỏ qua các tệp môi trường
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Bỏ qua các tệp cài đặt của hệ điều hành
.DS_Store
Thumbs.db

# Bỏ qua các tệp build (nếu có)
client/build/
server/build/
